<!-- The main content area -->
<main id="main" role="main">

	<!-- ABOUT-MISSION -->
	<section class="about-mission p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-5 mr-auto ml-auto">
					<div class="inner">
						<h1>The Mission</h1>
						<ul class="inline-links">
							<li><a href="#">Our Principles</a></li>
							<li><a href="#">How we work</a></li>
							<li><a href="#">Core Contributors</a></li>
						</ul>
						<blockquote>
							<p class="teaser-1">But Status is also more than a product, it is an experiment in organization.</p>
							<span class="author"> – Jarrad Hope</span>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-ABOUT-MISSION -->

	<!-- ABOUT-FULL-IMG -->
	<section class="about-full-image"></section>
	<!-- END-FULL-IMG -->

	<!-- ABOUT-PRINCIPLES -->
	<section class="about-principles p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3>Our Principles</h3>
					<p class="teaser-2">The goal of Status is widespread adoption of the decentralized web. Our challenge is achieving mass adoption while staying true to our principles outlined below.</p>
					<ol type="I">
						<li>
							<h4 class="m-b-25">Liberty</h4>
							<p>We believe in the sovereignty of individuals. As a platform that stands for the cause of personal liberty, we aim to maximize social, political, and economic freedoms. This includes being coercion-resistant.</p>
						</li>
						<li>
							<h4 class="m-b-25">Censorship Resistance</h4>
							<p>We enable free flow of information. No content is under surveillance. We abide by the cryptoeconomic design principle of censorship resistance. Even stronger, Status is an agnostic platform for information.</p>
						</li>
						<li>
							<h4 class="m-b-25 m-t-90">Security</h4>
							<p>We don’t compromise on security when building features. We use state-of-the-art technologies, and research new security methods and technologies to make strong security guarantees.</p>
						</li>
						<li>
							<h4 class="m-b-25 m-t-90">Privacy</h4>
							<p>Privacy is the power to selectively reveal oneself to the world. For us, it’s essential to protect privacy in both communications and transactions, as well as being a pseudo-anonymous platform. Additionally, we strive to provide the right of total anonymity.</p>
						</li>
						<li>
							<h4 class="m-b-25 m-t-90">Transparency</h4>
							<p>We strive for complete openness and symmetry of information within the organization, and have no border between our core contributors and our community. We are frank about our shortcomings, especially when making short-term tradeoffs in service of our long-term goals.</p>
						</li>
						<li>
							<h4 class="m-b-25 m-t-90">Openness</h4>
							<p>The software we create is a public good. It is made available via a free and open source license, for anyone to share, modify and benefit from. We believe in permission-less participation.</p>
						</li>
						<li>
							<h4 class="m-b-25 m-t-90">Decentralization</h4>
							<p>We minimize centralization across both the software and the organization itself. In other words, we maximize the number of physical computers composing the network, and maximize the number of individuals who have control over the system(s) we are building.</p>
						</li>
						<li>
							<h4 class="m-b-25 m-t-90">Inclusivity</h4>
							<p>We believe in fair and widespread access to our software, with an emphasis on ease-of-use. This also extends to social inclusivity, permissionless participation, interoperability, and investing in educational efforts.</p>
						</li>
						<li>
							<h4 class="m-b-25 m-t-90">Continuance</h4>
							<p>We create software incentivized to continue to exist and improve, without the stewardship of a single entity or any of the current team members.</p>
						</li>
						<li>
							<h4 class="m-b-25 m-t-90">Resourcefulness</h4>
							<p>We are relentlessly resourceful. As we grow and have ready access to capital, it is our obligation to token holders to fight bureaucracy and inefficiencies within the organization. This means solving problems in the most effective way possible at lower economic costs (in terms of capital, time and resources).</p>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</section>
	<!-- END-ABOUT-PRINCIPLES -->

	<!-- ABOUT-CHAT -->
	<section class="about-chat p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3>How we work</h3>
					<p class="teaser-2">We are a team distributed across the world. We have no office. We work in Swarms. Swarms are small teams of 2-5 people with a very specific goal. Swarms follow a structured approach to developing features:</p>
					<ul class="inline-links">
						<li>
							<div class="img-holder">
								<%- image_tag("img/research.svg") %>
							</div>
							<a href="#">Research</a>
						</li>
						<li>
							<div class="img-holder">
								<%- image_tag("img/specifications-and-planning.svg") %>
							</div>
							<a href="#">Specifications & Planning</a>
						</li>
						<li>
							<div class="img-holder">
								<%- image_tag("img/implementation.svg") %>
							</div>
							<a href="#">Implementation</a>
						</li>
						<li>
							<div class="img-holder">
								<%- image_tag("img/communication-and-post-mortem.svg") %>
							</div>
							<a href="#">Communication & Post-mortem</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 m-t-90">
					<h3>Active Swarms</h3>
				</div>
				<div class="col-md-6 m-t-90 text-right">
					<a href="#" class="link-arrow-black"><%- image_tag("img/tiny-logo.svg") %> View all Swarms on Github</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="inner">
						<p class="title">Core Network Incentives</p>
						<ul>
							<li><a href="#" class="tag">SNT Utility</a></li>
							<li><span class="number">#316</span></li>
						</ul>
						<ul class="authors">
							<li><a href="#"><%- image_tag("img/author-1.png") %></a></li>
							<li><a href="#"><%- image_tag("img/author-2.png") %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="inner">
						<p class="title">Sticker Market</p>
						<ul>
							<li><a href="#" class="tag">SNT Utility</a></li>
							<li><span class="number">#313</span></li>
						</ul>
						<ul class="authors">
							<li><a href="#"><%- image_tag("img/author-1.png") %></a></li>
							<li><a href="#"><%- image_tag("img/author-2.png") %></a></li>
							<li><a href="#"><%- image_tag("img/author-3.png") %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="inner">
						<p class="title">Core Network Incentives</p>
						<ul>
							<li><a href="#" class="tag">SNT Utility</a></li>
							<li><span class="number">#316</span></li>
						</ul>
						<ul class="authors">
							<li><a href="#"><%- image_tag("img/author-1.png") %></a></li>
							<li><a href="#"><%- image_tag("img/author-2.png") %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="inner">
						<p class="title">Sticker Market</p>
						<ul>
							<li><a href="#" class="tag">SNT Utility</a></li>
							<li><span class="number">#313</span></li>
						</ul>
						<ul class="authors">
							<li><a href="#"><%- image_tag("img/author-1.png") %></a></li>
							<li><a href="#"><%- image_tag("img/author-2.png") %></a></li>
							<li><a href="#"><%- image_tag("img/author-3.png") %></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="inner">
						<p class="title">Core Network Incentives</p>
						<ul>
							<li><a href="#" class="tag">SNT Utility</a></li>
							<li><span class="number">#316</span></li>
						</ul>
						<ul class="authors">
							<li><a href="#"><%- image_tag("img/author-1.png") %></a></li>
							<li><a href="#"><%- image_tag("img/author-2.png") %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="inner">
						<p class="title">Sticker Market</p>
						<ul>
							<li><a href="#" class="tag">SNT Utility</a></li>
							<li><span class="number">#313</span></li>
						</ul>
						<ul class="authors">
							<li><a href="#"><%- image_tag("img/author-1.png") %></a></li>
							<li><a href="#"><%- image_tag("img/author-2.png") %></a></li>
							<li><a href="#"><%- image_tag("img/author-3.png") %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="inner">
						<p class="title">Core Network Incentives</p>
						<ul>
							<li><a href="#" class="tag">SNT Utility</a></li>
							<li><span class="number">#316</span></li>
						</ul>
						<ul class="authors">
							<li><a href="#"><%- image_tag("img/author-1.png") %></a></li>
							<li><a href="#"><%- image_tag("img/author-2.png") %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="inner">
						<p class="title">Sticker Market</p>
						<ul>
							<li><a href="#" class="tag">SNT Utility</a></li>
							<li><span class="number">#313</span></li>
						</ul>
						<ul class="authors">
							<li><a href="#"><%- image_tag("img/author-1.png") %></a></li>
							<li><a href="#"><%- image_tag("img/author-2.png") %></a></li>
							<li><a href="#"><%- image_tag("img/author-3.png") %></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="inner">
						<p class="title">Core Network Incentives</p>
						<ul>
							<li><a href="#" class="tag">SNT Utility</a></li>
							<li><span class="number">#316</span></li>
						</ul>
						<ul class="authors">
							<li><a href="#"><%- image_tag("img/author-1.png") %></a></li>
							<li><a href="#"><%- image_tag("img/author-2.png") %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="inner">
						<p class="title">Sticker Market</p>
						<ul>
							<li><a href="#" class="tag">SNT Utility</a></li>
							<li><span class="number">#313</span></li>
						</ul>
						<ul class="authors">
							<li><a href="#"><%- image_tag("img/author-1.png") %></a></li>
							<li><a href="#"><%- image_tag("img/author-2.png") %></a></li>
							<li><a href="#"><%- image_tag("img/author-3.png") %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="inner">
						<p class="title">Core Network Incentives</p>
						<ul>
							<li><a href="#" class="tag">SNT Utility</a></li>
							<li><span class="number">#316</span></li>
						</ul>
						<ul class="authors">
							<li><a href="#"><%- image_tag("img/author-1.png") %></a></li>
							<li><a href="#"><%- image_tag("img/author-2.png") %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="inner">
						<p class="title">Sticker Market</p>
						<ul>
							<li><a href="#" class="tag">SNT Utility</a></li>
							<li><span class="number">#313</span></li>
						</ul>
						<ul class="authors">
							<li><a href="#"><%- image_tag("img/author-1.png") %></a></li>
							<li><a href="#"><%- image_tag("img/author-2.png") %></a></li>
							<li><a href="#"><%- image_tag("img/author-3.png") %></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-ABOUT-CHAT -->

	<!-- ABOUT-CORE-CONTRIBUTORS -->
	<section class="about-core-contributors p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<div class="inner">
						<h3>Core Contributors</h3>
						<p class="teaser-2">Status is not a traditional organization. We don’t have hierarchy, there are no offices and no managers. We’re all here to achieve our mission, and we have the freedom to choose how we do it.</p>
						<ul class="inline-links">
							<li><a href="#" class="link-arrow">Join us. See all open positions</a></li>
							<li><a href="#" class="link-arrow">Learn more about life at Status</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-5"></div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul class="contributors m-t-90">
						<li><a href="#"><%- image_tag("img/contributor-1.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-2.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-3.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-4.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-5.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-6.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-7.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-1.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-2.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-3.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-4.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-5.png") %></a></li>
					</ul>
					<ul class="contributors m-t-40">
						<li><a href="#"><%- image_tag("img/contributor-1.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-2.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-3.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-4.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-5.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-6.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-7.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-1.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-2.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-3.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-4.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-5.png") %></a></li>
					</ul>
					<ul class="contributors m-t-40">
						<li><a href="#"><%- image_tag("img/contributor-1.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-2.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-3.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-4.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-5.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-6.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-7.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-1.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-2.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-3.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-4.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-5.png") %></a></li>
					</ul>
					<ul class="contributors m-t-40">
						<li><a href="#"><%- image_tag("img/contributor-1.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-2.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-3.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-4.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-5.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-6.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-7.png") %></a></li>
						<li><a href="#"><%- image_tag("img/contributor-1.png") %></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- END-ABOUT-CORE-CONTRIBUTORS -->

</main>