<!-- The main content area -->
<main id="main" role="main">

	<!-- APPS-PAGE -->
	<section class="apps-page">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-grey apps-mobile">
					<div class="inner d-flex align-items-start flex-column h-100">
						<div class="row">
							<div class="col-lg-10">
								<h3>Mobile</h3>
								<p class="p-large">Chat, transact, and access a revolutionary new world of ÐApps. Access more features like our upcoming hardwallet with the Android App.</p>
								<ul class="buttons">
									<li><a href="#" class="btn btn-white"><%- image_tag("img/apple-white-logo.svg") %> iOS App</a></li>
									<li><a href="#" class="btn btn-white"><%- image_tag("img/android-white-logo.svg") %> Android App</a></li>
								</ul>
								<%- image_tag("img/apps-mobile.png") %>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-black col-offset-top apps-mac-windows-or-linux m-t-90">
					<div class="inner d-flex align-items-start flex-column justify-content-center h-100">
						<div class="row">
							<div class="col-lg-7">
								<h3>Mac, Windows or Linux</h3>
								<p class="p-large">Because making Ethereum accessible from anywhere also means it should be easy to use from where you work.
								</p>
								<ul class="buttons">
									<li><a href="#" class="btn btn-white-fill"><%- image_tag("img/apple-black-logo.svg") %> macOS App</a></li>
									<li><a href="#" class="btn btn-white-fill"><%- image_tag("img/linux-black-logo.svg") %> Linux App</a></li>
									<li><a href="#" class="btn btn-white-fill"><%- image_tag("img/windows-black-logo.svg") %> Windows App</a></li>
								</ul>
								<span class="news">This is alpha software and may contain vulnerabilities. <br>Please expect changes.</span>
								<%- image_tag("img/apps-mac-windows-or-linux.png", {class: 'm-t-90'}) %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-APPS-PAGE -->

</main>