<!-- The main content area -->
<main id="main" role="main">

	<!-- FEATURES-INTRO -->
	<section class="features-intro p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<h1>The Power of Ethereum <br> in Your Pocket</h1>
					<ul class="inline-links">
						<li><a href="#"><%- image_tag("img/meeting-smartphone-message.svg") %>Messenger</a></li>
						<li><a href="#"><%- image_tag("img/money-wallet.svg") %>Crypto-wallet</a></li>
						<li><a href="#"><%- image_tag("img/browser-and-dapps.svg") %>Browser & DApps</a></li>
					</ul>
				</div>
				<div class="col-md-5">
					<p class="teaser-1">Status is a multi-purpose communication tool that combines a peer-to-peer messenger, decentralized crypto-wallet, and web3 browser.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- END-FEATURES-INTRO -->

	<!-- FEATURES-CHAT -->
	<section class="features-chat col-dark-grey col-black">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="inner">
						<h2 class="m-b-100">Secure Messenger</h2>
						<h4 class="m-b-25">Public, Private and Group Chats</h4>
						<p>Join any number of public channels or send private 1:1 or group chats. You can even send and receive crypto payments directly in your private chats.</p>
						<a href="#" class="link-arrow link-arrow-white">Learn more</a>
						<h4 class="m-t-90 m-b-25">Private Messaging with Whisper </h4>
						<p>The whisper protocol removes third parties and provides p2p dark routing–making it nearly impossible for anyone (including us) to see your messages. We are also conducting R&D on improved messaging protocols.</p>
						<a href="#" class="link-arrow link-arrow-white">Learn more</a>
						<h4 class="m-t-90 m-b-25">Perfect Forward Secrecy & <br> E2E Encryption</h4>
						<p>Status uses the ‘Double Ratchet’ algorithm on top of whisper and end-to-end encryption for the highest grade of security and privacy.</p>
						<a href="#" class="link-arrow link-arrow-white">Learn more</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="img-holder">
						<%- image_tag("img/chat-img.png") %>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-FEATURES-CHAT -->

	<!-- FEATURES-WALLET -->
	<section class="features-wallet col-black p-t-160">
		<div class="container">
			<h2 class="m-b-100">Integrated <br> Ethereum Wallet</h2>
			<div class="row">
				<div class="col-md-4 m-b-100">
					<div class="inner">
						<h4 class="m-b-25">Safe Wallet</h4>
						<p>No intermediaries means you are in total control of your funds. You and only you hold your private keys meaning nobody can access your cryptocurrency.</p>
						<a href="#" class="link-arrow link-arrow-white">Learn more</a>
					</div>
				</div>
				<div class="col-md-4 m-b-100">
					<div class="inner">
						<h4 class="m-b-25">ERC20 & ERC721 Compatible</h4>
						<p>Full support for all ERC20 and ERC721 tokens on Ethereum network. Send, store, and receive your tokens or collectibles confidently in Status.</p>
					</div>
				</div>
				<div class="col-md-4 m-b-100">
					<div class="inner">
						<h4 class="m-b-25">Interact with Peers & DApps</h4>
						<p>The Status wallet integrates with the messenger and browser–enabling you to interact with peers and DApps. All transactions require verification of a signing phrase to protect you from phishing attacks.</p>
						<a href="#" class="link-arrow link-arrow-white">Join Status Wallet Public Channel</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<div class="img-holder">
						<%- image_tag("img/features-wallet-img.png") %>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-FEATURES-WALLET -->

	<!-- FEATURES-BROWSER -->
	<section class="features-browser p-t-160">
		<div class="container">
			<h2 class="m-b-100">Web3 Browser</h2>
			<div class="row">
				<div class="col-md-4 m-b-100">
					<div class="inner">
						<h4 class="m-b-25">Access Decentralized Applications</h4>
						<p>A growing ecosystem of DApps in your pocket. Browse the latest decentralized exchanges, marketplaces, games, social networks, and more.</p>
						<a href="#" class="link-arrow link-arrow-black">Install Status</a>
					</div>
				</div>
				<div class="col-md-4 m-b-100">
					<div class="inner">
						<h4 class="m-b-25">Private & Secure <br>Browsing</h4>
						<p>Status implements the latest security standards to ensure you are safe and free from tracking and data collection. Browse on your terms.</p>
						<a href="#" class="link-arrow link-arrow-black">Learn more</a>
					</div>
				</div>
				<div class="col-md-4 m-b-100">
					<div class="inner">
						<h4 class="m-b-25">Extend your DApp <br> with Status</h4>
						<p>Extensions allow DApp developers to leverage the native features of Status to create a seamless and integrated experience for all Status users.</p>
						<a href="#" class="link-arrow link-arrow-black">Documentation</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<div class="img-holder">
						<%- image_tag("img/features-browser-img.png") %>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-FEATURES-BROWSER -->

	<!-- FEATURES-STATUS-DESKTOP -->
	<section class="features-desktop">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="inner p-t-160 p-b-160">
						<h2>Status Desktop</h2>
						<p class="teaser-2">Install the desktop alpha and enjoy secure and private messaging while you work. The desktop app syncs with your mobile account for a seamless experience.</p>
						<a href="#" class="btn btn-purple-fill btn-arrow btn-arrow-white">Get Status Desktop</a>
						<!-- <p class="announcement">Status Desktop is still in alpha. Install the nightly, help test and build it. <span>Desktop FAQ’s</span></p>	 -->
					</div>
				</div>
				<div class="col-md-6">
					<div class="img-holder">
						<%- image_tag("img/status-desktop-img.png") %>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-FEATURES-STATUS-DESKTOP -->


	<!-- FEATURES-OPEN-SOURCE -->
	<section class="features-open-source p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h3>An Open Source Project</h3>
					<p class="teaser-2">Status is completely open source and made by contributors all over the world. Developers, designers, creators, educators, hobbyists, enthusiasts, and more – everyone has free and open access to the repos, assets, and information.</p>
					<ul class="inline-links">
						<li><a href="#"><%- image_tag("img/developers-img.svg") %> Developers</a></li>
						<li><a href="#"><%- image_tag("img/educators-img.svg") %> Educators</a></li>
						<li><a href="#"><%- image_tag("img/community-group-img.svg") %> Community Group</a></li>
					</ul>
				</div>
				<div class="col-md-6">
					<div class="get-status">
						<h3>Get Status</h3>
						<p class="teaser-2">Start enjoying Status on iOS, Android, MacOS, Windows and Linux.</p>
						<a href="#" class="btn btn-white btn-arrow btn-arrow-white">Download Apps</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-FEATURES-OPEN-SOURCE -->

</main>