<!-- The main content area -->
<main id="main" role="main">

	<!-- EDUCATE-OPEN-SOURCE -->
	<section class="get-involved-intro p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h4>An Open Source Community</h4>
					<h1>Educate</h1>
					<p class="teaser-1">We welcome anyone to help educate others on how to build status, use status, get started in the community, or even share their own experiences with the project.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- END-EDUCATE-OPEN-SOURCE -->

	<div class="position-relative">
			<!-- DEVELOPMENT-QUICK-NAV -->
			<section class="quick-nav">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul>
								<li><a href="/get-involved/development/"><%- image_tag("/img/development-small-icon.svg") %>Development</a></li>
								<li><a href="/get-involved/educate/" class="active"><%- image_tag("/img/educate-small-icon.svg") %>Educate</a></li>
								<li><a href="/get-involved/community/"><%- image_tag("/img/community-groups-small-icon.svg") %>Community Groups</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- END-DEVELOPMENT-QUICK-NAV -->
	
			<!-- DEVELOPMENT-QUICK-NAV-SUB -->
			<section class="quick-nav-sub">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul>
								<li><a href="#contribute-to-status">Contribute to Status</a></li>
								<li><a href="#build-dapps">Build DApps</a></li>
								<li><a href="#extend-dapps">Extend DApps</a></li>
								<li><a href="#developer-resources">Developer Resources</a></li>
							</ul>
							<a href="https://github.com/status-im" target="_blank"><%- image_tag("/img/github-white-logo.svg") %>Github</a>
						</div>
					</div>
				</div>
			</section>
			<!-- END-DEVELOPMENT-QUICK-NAV-SUB -->
		</div>

	<!-- EDUCATE-CONTRIBUTE -->
	<section class="educate-contribute p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="inner how-to-get-started">
						<h2>How to Get Started</h2>
						<ul>
							<li>
								<a href="#" class="link-arrow">Quick Start</a>
								<p>Check out this guide to getting started in the Status Community.</p>
							</li>
							<li>
								<a href="#" class="link-arrow">Table of Contents</a>
								<p>Refer to this TOC for terms, definitions, resources and concepts.</p>
							</li>
							<li>
								<a href="#" class="link-arrow">FAQ’s</a>
								<p>Here is an ongoing list of frequentyl asked questions from everyone in the Status community.</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="inner create">
						<h2>Create</h2>
						<ul>
							<li>
								<a href="#" class="link-arrow">Create non-technical turorials</a>
								<p>Help newcomers set up thier account and navigate the status app and community.</p>
							</li>
							<li>
								<a href="#" class="link-arrow">Create Technical Tutorials</a>
								<p>Help developers build Status. </p>
							</li>
							<li>
								<a href="#" class="link-arrow">Write a blog post</a>
								<p>Share a story on the status blog <a href="#">our.status.im</a></p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-EDUCATE-CONTRIBUTE -->

	<!-- EDUCATE-TRANSLATE -->
	<section class="educate-translate">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="inner-img">

					</div>
				</div>
				<div class="col-md-6">
					<div class="inner">
						<h2>Translate</h2>
						<p class="teaser-2">Help us localise Status. Translate everything!</p>
						<ul>
							<li><a href="#" class="link-arrow">App Interface</a></li>
							<li><a href="#" class="link-arrow">Website Content</a></li>
							<li><a href="#" class="link-arrow">Documentation Pages</a></li>
							<li><a href="#" class="link-arrow">Blog Articles</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-EDUCATE-TRANSLATE -->

	<!-- EDUCATOR-RESOURCES -->
	<section class="educator-resources col-dark-grey col-black p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Educator Resources</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="inner">
						<ul>
							<li>
								<a href="#" class="link-arrow link-arrow-white">Styleguide & Assets</a>
								<p>Find the latest Styleguide along with branded assets, templates, and fonts.</p>
							</li>
							<li>
								<a href="#" class="link-arrow link-arrow-white">Documentation</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</li>
							<li>
								<a href="#" class="link-arrow link-arrow-white">Tutorials</a>
								<p>Jump into the Status #introductions channel and help out new contributors.</p>
							</li>
							<li>
								<a href="#" class="link-arrow link-arrow-white">Nightlies</a>
								<p>Create a new blog post or record a video of a new tutorial.</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="inner educate-join">
						<ul>
							<li>
								<a href="#" class="link-arrow link-arrow-white">Blog</a>
								<p>Find the latest Styleguide along with branded assets, templates, and fonts.</p>
							</li>
							<li>
								<a href="#" class="link-arrow link-arrow-white">Discuss</a>
								<p>Join the long form discussion on all things Status.</p>
							</li>
							<li><a href="#" class="link-arrow link-arrow-white list-item-m-b">Join the bi-weekly dev call</a></li>
							<li><a href="#" class="link-arrow link-arrow-white list-item-m-b">Join the bi-weekly comms call</a></li>
							<li><a href="#" class="link-arrow link-arrow-white list-item-m-b">Latest Release notes - v0.9.35</a></li>
							<li><a href="#" class="link-arrow link-arrow-white">List of Active Swarms</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- EDUCATOR-RESOURCES -->

	<!-- EDUCATE-GET-IN-TOUCH -->
	<section class="development-get-in-touch p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3>Get in touch</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="inner">
						<a href="#"><%- image_tag("/img/status-purple-logo.svg") %>Join #Status</a>
						<p>General Status news and discussion.</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="inner">
						<a href="#"><%- image_tag("/img/status-purple-logo.svg") %>Join #Status-educate</a>
						<p>Discussion about education around Status.</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="inner">
						<a href="#"><%- image_tag("/img/status-purple-logo.svg") %>Join #introductions</a>
						<p>New to Status? Introduce yourself and say hi. Someone will be there to help you out.</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="inner">
						<a href="#">Contact us</a>
						<p>For everything else, contact us directly.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-EDUCATE-GET-IN-TOUCH -->

	<div class="community-nav">
		<a href="#" class="community-nav-trigger-close">
			<svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg"> <rect x="1.5752" y="0.368273" width="22" height="1" rx="0.5" transform="rotate(45 1.5752 0.368273)" fill="#090909"></rect> <rect x="0.868164" y="15.9246" width="22" height="1" rx="0.5" transform="rotate(-45 0.868164 15.9246)" fill="#090909"></rect> </svg>
		</a>
		<nav>
			<ul>
				<li><a href="/get-involved/development/">Development</a></li>
				<li><a href="/get-involved/educate/" class="active">Educate</a></li>
				<li><a href="/get-involved/community/">Community Groups</a></li>
			</ul>
		</nav>
	</div>
	<div class="backdrop-community-nav"></div>

</main>