<!-- The main content area -->
<main id="main" role="main">

	<!-- GET-INVOLVED-OPEN-SOURCE-COMMUNITY -->
	<section class="get-involved-intro p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<h1>An Open Source Community</h1>
					<p class="teaser-1">Status is an open source project built by contributors all over the world. Wether you are a developer contributing code, a tester reporting bugs, or a community organizer supporting the movement, there are ways to get involved and contribute.</p>
					<div class="open-source-illustration-horz"><%- image_tag("/img/open-source-illustration-horz.svg") %></div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-GET-INVOLVED-OPEN-SOURCE-COMMUNITY -->

	<!-- GET-INVOLVED-BOX-LINKS -->
	<section class="get-involved-box-links">
		<div class="container">
			<div class="row">
				<div class="col-xl-4">
					<div class="box-link">
						<h3 class="title"><a href="/get-involved/development/"><%- image_tag("/img/get-involved-development.svg") %>Development</a></h3>
						<p>Status is an open source project with contributors from all over the world.</p>
						<p>Volunteers and professionals alike contribute to the official Status releases. This includes oen contribution to Status funded bounties and community driven intiatives for new features.</p>
						<a href="/get-involved/development/" class="link-arrow link-arrow-white">Learn More</a>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="box-link">
						<h3 class="title"><a href="/get-involved/educate/"><%- image_tag("/img/get-involved-educate.svg") %>Educate</a></h3>
						<p>Status considers education and training projects crucial for a successful Open Source project.</p>
						<p>We welcome anyone to help educate others on how to build status, use status, get started in the community, or even share their own experiences with the project.</p>
						<a href="/get-involved/educate/" class="link-arrow link-arrow-white">Learn More</a>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="box-link">
						<h3 class="title"><a href="/get-involved/community/"><%- image_tag("/img/get-involved-community-groups.svg") %>Community Groups</a></h3>
						<p>There are a number of both Status run and community organized groups within the Status community. Join an existing group or start your own group based on your personal interests.</p>
						<p>People organize all over the world to help promote and grow this open source project.</p>
						<a href="/get-involved/community/" class="link-arrow link-arrow-white">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-GET-INVOLVED-BOX-LINKS -->

	<!-- GET-INVOLVED-TOP-CONTRIBUTORS -->
	<section class="about-core-contributors top-contributors p-t-160 p-b-160" id="core-contributors">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="inner">
						<h3>Top Contributors</h3>
					</div>
				</div>
				<div class="col-md-5"></div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul class="contributors row">
						<%- contributors() %>
					</ul>
					<a href="#" class="link-arrow">Join the Status Team. See all Open Position</a>
				</div>
			</div>
		</div>
	</section>
	<!-- END-GET-INVOLVED-TOP-CONTRIBUTORS -->

</main>